<footer>
    <small>© 2018 COMP2068 - Lab 4 - 200348171</small>
</footer>
<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>