<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Mykyta</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/yulia">Yulia</a>
                </li>
                <li>
                    <a href="/artem">Artem</a>
                </li>
                <li>
                    <a href="/daria">Daria</a>
                </li>
            </ul>
        </div>
    </nav>