<% include partials/header %>
  <h1>
    <%= title %>
  </h1>
  <p>
    That's me. That's the one who woke up unusually early on a Friday morning to put this page on the Internet.
  </p>
  <% include partials/footer %>